.footer {
  width: 100%;
  padding: 40px;
  background-color: #f6f6f7;
  .date {
    color: grey;
    margin-top: 20px;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 27px;
      width: 300px;
      font-weight: 700;
      line-height: 42px;
      text-align: left;
      color: black;
    }
    .hint {
      color: black;
      font-size: 18px;
    }
    .getInTouch {
      display: flex;
      margin-top: 20px;

      .emailInp {
        max-width: 300px;
        border: 1px solid;
      }

      .sendBtn {
        background-color: black;
        padding: 10px;
        color: white;
        margin-left: -1px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
  }

  .line {
    width: 100%;
    color: rgb(233, 230, 230);
    margin: 50px 0px;
  }

  .info {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .infoSections {
      display: flex;
      flex-direction: column;
      max-width: 300px;

      .sectionTitle {
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0px;
        color: black;
      }

      .sectionElem {
        display: flex;
        font-size: 14px;;
        margin-top: 10px;
        color: black;
        align-items: center;

        .icon {
          margin-right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 10px;

    .header {
      justify-content: center;
      .title {
        font-size: 18px;
      }
    }

    .info {
      .infoSections {
        .sectionTitle {
          font-weight: 700;
          line-height: 24px;
          font-size: 14px;
          letter-spacing: 0px;
          color: black;
        }
  
        .sectionElem {
          display: flex;
          font-size: 12px;
          margin-top: 10px;
          color: black;
          align-items: center;
  
          .icon {
            margin-right: 10px;
          }
        }
      }
    }
  }
}