.mapContainer {
  width: 500px;
  margin-top: 70px;

  
  .mapLabel {
    color: black;
  }

  div {
    width: 100% !important;
    height: 500px !important;
  }

  .ymaps-2-1-79-map {
    width: 100% !important;
    height: 500px !important;
  }
}