.mapContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;

  .mapLabel {
    color: black;
  }

  div {
    width: 100% !important;
    height: 100% !important;
  }

  .ymaps-2-1-79-map {
    width: 100% !important;
    height: 100% !important;
  }
}
