.orderPage {
  padding: 20px;
  .orderComponent {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }

  .actions {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 50px;

    .nextBtn {
      color: green;
      border: 1px solid green;
      width: 200px;
    }

    .previousBtn {
      margin-right: 10px;
    }
  }
}
