.details {
  margin-top: 60px;

  .title {
    color: black;
    font-size: 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
  }

  .description {
    color: rgb(70, 69, 69);
    line-height: 25px;
    font-weight: 300;
  }

  .advantagesTitle {
    color: black;
    font-size: 22px;
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
  }

  .advantages {
    color: rgb(70, 69, 69);
    line-height: 25px;
    font-weight: 300;
  }
}

@media screen and (max-width: 1200px) {
  .details {
    margin-top: 50px;
  }
}