.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .leftSections {
    display: flex;
  }

  .rightSections {
    display: flex;
    align-items: center;

    .phoneNumber {
      color: black;
      height: fit-content;
      margin-left: 10px;
    }

    .signInBtn {
      margin-left: 15px;
      .signIn {
        margin-left: 10px;
      }
    }

    .signInBtn:hover {
      color: orange;
      .signIn:hover {
        color: orange;
      }
    }
  }
}
